<strong> Olá, {{organizer}}</strong>

<p>Houve uma nova inscrição para o meetup {{meetup}}, confira abaixo os dados do inscrito:</p>
<p>
  <strong>Incrito: </strong> {{ subscriber }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
</p>
